@{
    ViewBag.Title = "Where is Keith's RV?";
}

@*<select data-bind="options: gameViewModels, value: selectedGame, optionsText: function(item) { return item.date() + ' - ' + item.opponentName(); }, optionsAfterRender: function(option, item) { ko.applyBindingsToNode(option, { enable: item.willAttendGame }, item); }" id="game-selector-dropdown"></select>
    <div id="parking-spot-map-container">
        <img src="~/Content/images/1314-fb-rv-parking-map-cropped.jpg" />
    </div>
    <div id="schedule">
        <table id="game-selector-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Opponent</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: gameViewModels">
                <tr data-bind="click: willAttendGame() ? $parent.selectGameParkingSpot.bind($parent) : null, event: { mouseover: willAttendGame() ? $parent.selectGameParkingSpot.bind($parent) : null }, css: { selected: $parent.selectedGameId() === id(), home: isHome, away: !isHome(), 'is-rv-attending': willAttendGame }">
                    <td data-bind="text: date" class="date"></td>
                    <td data-bind="text: opponentName"></td>
                    <td data-bind="text: time" class="time"></td>
                    <td data-bind="text: parkingSpotCaption"></td>
                </tr>
            </tbody>
        </table>
    </div>*@
<div id="map" style="height:100%;margin:auto;width:100%;"></div>
<script type="text/javascript">
    function initMap() {
        var spots = {
            "63": {
                id: "63",
                lotDescription: "Gray 5",
                description: "63",
                position: { lat: 40.010396, lng: -83.027526 },
                bounds: [
                    { lat: 40.010341, lng: -83.027392 }, // SE
                    { lat: 40.010343, lng: -83.027517 }, // SW
                    { lat: 40.010448, lng: -83.027643 }, // NW
                    { lat: 40.010447, lng: -83.027515 } // NE
                ]
            },
            "240": {
                lotDescription: "Buckeye 3",
                description: "240",
                position: { lat: 40.015425, lng: -83.031107 },
                bounds: [
                    { lat: 40.015404, lng: -83.030983 }, // SE
                    { lat: 40.015373, lng: -83.031086 }, // SW
                    { lat: 40.015440, lng: -83.031230 }, // NW
                    { lat: 40.015468, lng: -83.031137 } // NE
                ]
            },
            "65": {
                lotDescription: "Gray 5",
                description: "65",
                position: { lat: 40.010575, lng: -83.028129 },
                bounds: [
                    { lat: 40.010517, lng: -83.028009 }, // SE
                    { lat: 40.010518, lng: -83.028131 }, // SW
                    { lat: 40.010630, lng: -83.028249 }, // NW
                    { lat: 40.010629, lng: -83.028127 } // NE
                ]
            }
        };

        var games = {
            "2017-11-18": {
                title: "Ohio State vs Illinois",
                date: "2017-11-18",
                time: "15:30",
                timeFinalized: true,
                timeZone: "America/New_York"
            },
            "2019-11-09": {
                title: "Ohio State vs Maryland",
                date: "2019-11-09",
                time: "12:00",
                timeFinalized: true,
                timeZone: "America/New_York"
            }
        };

        var gameSpotData = {
            "2017-11-18": { game: games["2017-11-18"], spot: spots["63"] },
            "2017-11-18": { game: games["2017-11-18"], spot: spots["240"] },
            "2019-11-09": { game: games["2019-11-09"], spot: spots["65"] }
        };

        var data = gameSpotData["2019-11-09"];

        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: data.spot.position,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            tilt: 0
        });
        //map.setTilt(45);
  
        var markerDescription = data.game.title + " - " + data.spot.description + " - " + data.spot.lotDescription;

        var marker = new google.maps.Marker({
            position: data.spot.position,
            map: map,
            title: markerDescription
        });

        var positionString = data.spot.position.lat + "," + data.spot.position.lng;

        var infoContent =
            "<div style=\"margin:10px;\">" +
            data.game.title + "<br /><br />" +
            getGameDateString(data.game) + "<br />" +
            getGameTimeString(data.game) + "<br /><br />" +
            "Lot: <b>" + data.spot.lotDescription + "</b>, Spot: <b>" + data.spot.description + "</b><br /><br />" +
            "<a href=\"https://maps.apple.com/?q=" + positionString + "\">Apple Maps</a>" +
            " | " +
            "<a href=\"https://maps.google.com/?q=" + positionString + "\">Google Maps</a><br />" +
            "</div>";

        var infowindow = new google.maps.InfoWindow({
            content: infoContent
        });

        marker.addListener("click", function () {
            infowindow.open(map, marker);
        });

        infowindow.open(map, marker);

        var spotPolygon = new google.maps.Polygon({
            paths: data.spot.bounds,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        spotPolygon.setMap(map);
    }

    function getGameDate(game) {
        var timeOffset = "-05:00";

        return new Date(game.date + "T" + game.time + timeOffset);
    }

    function getGameDateString(game) {
        var gameDate = getGameDate(game);

        var options = {
            weekday: "long",
            month: "long",
            day: "numeric",
            year: "numeric",
            timeZone: game.timeZone
        };

        return gameDate.toLocaleDateString(undefined, options)
    }

    function getGameTimeString(game) {
        if (!game.timeFinalized) return "Time TBD";

        var gameDate = getGameDate(game);

        var options = {
            hour: "numeric",
            minute: "numeric",
            timeZone: game.timeZone,
            timeZoneName: "short"
        };

        return gameDate.toLocaleTimeString(undefined, options);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiM3rQZI4xKMDbbAbrzfd99jODY_kZeUM&callback=initMap" async defer></script>